.explica{
    align-items: center;
    background-color:rgba(242, 242, 242, 1);
    height: 100vh;
    width: 100%;
}
aside div h3{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin: 20px;
}

#tituloo{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#saude{
    background-image: url(/static/images/3.png);
    background-size: cover;
}

.bom{
    display: flex;
    justify-content: space-around;
    height: 50vh;
}

.assim{
    align-items: flex-start;
    border-radius: 7%;
    display: flex;
    font-family: 'Lato', sans-serif;
    flex-direction: column;
    height: 500px;
    width: 600px;
}

#exp{
    width: 500px; 
    background-image: url(/static/images/sobrenos.png);
    background-size: cover;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.text{
    height: 80%;
    width: 50%;
    background-color: black;
}