.detalhe{
    align-items: flex-start;
    background-color:white;
    background-image: url('/static/images/maiss.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    grid-area: div;
    height: 100%;
    justify-content: space-around;
    width: 100%;
}

.saiba-mais{
    align-items: flex-start;
    background-color: rgba(0, 1, 0, 0.705);
    border-radius: 7%;
    display: flex;
    font-family: 'Lato', sans-serif;
    flex-direction: column;
    height: 300px;
    margin: 10px;
    position: relative;
    width: 300px;
}

.mais{
    color:rgba(242, 242, 242, 1);
    margin: 10px;
}

.clik{
    font-size: 63%;
    text-decoration: none;
}

div div p{
    font-size: 200%;
}

