.detalhe{
    grid-area: div;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 97%;
    background-color:white;
    justify-content: space-around;
    align-items: flex-start;
    background-image: url('/static/images/fruta.png');
    background-size: cover;
}

.saiba-mais{
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
    width: 300px;
    margin: 10px;
    border-radius: 7%;
    position: relative;

}

