aside{
    grid-area: aside;
    display: flex;
    box-sizing: border-box;
    margin:0;
    display: grid;
    padding: 0;
    height: 100%;
    width: 100%;
}
 
div, div {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: red;
}

div {
    display: grid;
    grid-template-areas:'a b c d e f g'
                        'h i j k l m n';
    grid-template-rows: 80vh 90vh 50vh 50vh 30vh;
    grid-template-columns: 25% 25% 25% 25% 25%;
}

.opcoes{
    height: 100%;
    border: 10px solid black;
    background-size: cover;
}

div:nth-child(1){
    grid-area: a;
}

div:nth-child(2){
    grid-area: b;
}

div:nth-child(3){
    grid-area: c;
}

div:nth-child(4){
    grid-area: d;
}

div:nth-child(5){
    grid-area: e;
}

div:nth-child(6){
    grid-area: f;
}

div:nth-child(7){
    grid-area: g;
}

div:nth-child(8){
    grid-area: h;
}

div:nth-child(9){
    grid-area: i;
}

div:nth-child(10){
    grid-area: j;
}