
.nos{
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background-color: rgba(242, 242, 242, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* 
#texto{
    background-color: magenta;
    display: flex;
    font-size: 15px;
    justify-content: space-around;
} */


/* .imagem img{
  width: 10%;
  display: flex;
  border-radius: 10px;
} */
/* 
.imagem{
    width: 20px;
    height: 20px;
    display: flex;
} */

aside{
    width: 100%;
    height: 100%;
}

.item{
    width: 500px;
    height: 500px;
    display: flex;
   
}

.item p{
    font-size: 20px;
    color: black;
}

.item img{
    width: 344px;
    height: 446px;
    border-radius: 22px;
    
}

