aside{
    width: 100%;
    height: 100%;

}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.time-aside{
    overflow: hidden;
    text-align: center;

}

.time-aside h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
    margin-top: 10px;
}

.borda{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background-color: #317202;
    margin-bottom: 40px;
}

.ps{
    margin-bottom: 40px;
}

.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;

}

.ps a img{
    filter: grayscale(100%);
    transition: 0.4s all;

}

.ps a:hover > img{
    filter: none;

}

.section{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: justify;
    height: 0;
    overflow: hidden;

}

.section:target{
    height: auto;
}

.Nome{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}
.section{
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    /* border-width: 1px; */
}