body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  overflow-x: hidden;
  grid-template-areas:
                       'slide slide slide slide'
                       'header header header header'
                       'section section section section'
                       'aside aside aside aside'
                       'footer footer footer footer';
  grid-template-rows: 80vh 90vh 50vh 50vh 30vh;
  grid-template-columns: 25% 25% 25% 25% 25%;
  /* grid-row-gap: 3px;x' */
  /* grid-column-gap: 5px; */
  grid-row-gap: 0;
  background-color: white;
}
/* NAVBAR --------------------- */
#navbarbranco{
  width: 100%;
  background-color: white;
}
.navbar{
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}
.logo-nav{
  color: white;
  font-size: 25px;
}

.menu{
  width:100%;
  padding:20px;
  display: flex;
  justify-content: space-around;
  height: 20px;
  flex-direction: column;
}
nav a{
  text-decoration: none;
  color: white;
}
nav a:hover{
  font-size: 15.5pt;
  transition: all 0.5s;
}
nav div ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
#tamanho-logo{
  width: 200px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tamanho{
  width: 200px;
}
/* FIM DA NAVBAR -------------------------------- */

.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.parallax {
  background-image: url( '/static/images/pratoslide.jpg' );
  background-size: cover;
  background-position: center;
  height: 100%;
}
.parallax-wrapper h1, p {
  margin: 0;
  color: #fff;
}

.parallax-wrapper p {
  font-weight: 500;
  font-size: 1.2em;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;
  padding-top: 80px;
}

header{
  grid-area: header;
  background-color: #222831;
  /* border: none; */
  margin-top: 0;
  display: flex;
  justify-content: center;
}
.t-h1{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -480px;
}
.q-serv{
  /* background-color:red; */
  display: flex;
  justify-content: space-around;
  align-items: center;    
  height: 100%;
  width: 100%;
  margin: 0;
}
.icon-loja{
  width: 300px;
  height: 450px;
  background-image: url( '/static/images/fachadat.png' );
  background-size: cover;
  cursor: pointer;
  background-position-x: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7%;
}
.icon-loja:hover{
  width: 300px;
  height: 450px;
  cursor: pointer;
  background-image: url( '/static/images/fachada.png' );
  background-size: cover;
  background-position-x: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7%;
}
.icon-moto{
  width: 300px;
  height: 450px;
  background-image: url( '/static/images/motot.png' );
  background-size: cover;
  background-position-x: 43%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7%;
}
.icon-moto:hover{
  cursor: pointer;  
  width: 300px;
  height: 450px;
  background-image: url( '/static/images/moto.png' );
  background-size: cover;
  background-position-x: 43%;
  display: flex;
  align-items: center;
  
  justify-content: center;
  border-radius: 7%;
}
.icon-rest{
  width: 300px;
  height: 450px;
  background-image: url( '/static/images/restaurantet.png' );
  background-color: white;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7%;
}
.icon-rest:hover{
  width: 300px;
  height: 450px;
  background-image: url( '/static/images/restaurante.png' );
  background-color: white;
  background-size: cover;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7%;
}

header h2{
  font-size: 2rem;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #fff; 

}
header .w-border h2{
  /* position: relative; */
  padding-bottom: 20px;
  display: inline-block;
}

/* Color Theme Swatches in RGBA */
.agriculture-1-rgba { color: rgba(191, 3, 19, 1); }
.agriculture-2-rgba { color: rgba(114, 2, 32, 1); }
.agriculture-3-rgba { color: rgba(54, 89, 1, 1); }
.agriculture-4-rgba { color: rgba(96, 140, 2, 1); }
.agriculture-5-rgba { color: rgba(242, 182, 4, 1); }


header h2::after{
    content: "";
    width: 70px;
    left: 50%;
    bottom: 0;
    height: 5px;
    background: #7cbd1e;
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-top: 2px;
}

header .w-border .text-center h2:after{
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); 
}
section{
  grid-area: section;
  background-color: aqua;
  width: 100%;
  height: 100%;
}

aside{
  grid-area: aside;
}

div p {
  color: #58e870;
}

footer{
  grid-area: footer;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: #222831;
  padding-top: 50px;
  height: 100%;
  width: 100%;
}
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.fot1{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 25%;
  max-width:40%;
}
.foot1{
  font-size: 10px;
}

footer li{
  list-style: none;
}

.social{
  width: 40px;
  height: 40px;
  font-size: 1.5625em;
  position: relative;
  margin-top: -10px;
}

.footerm{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 47px;
}
.icons-footer{
  align-items: center;
  display: flex;
  height: 35px;
  justify-content: center;
  width: 40px;
}