body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  overflow-x: hidden;
  grid-template-areas:
                       'slide slide slide slide'
                       'header header header header'
                       'section section section section'
                       'aside aside aside aside'
                       'footer footer footer footer';
grid-template-rows: 100vh 90vh 90vh 90vh 10vh;
grid-template-columns: 25% 25% 25% 25% 25%;
/* grid-row-gap: 3px;x' */
/* grid-column-gap: 5px; */
grid-row-gap: 0;
background-color: white;
}

/* Color Theme Swatches in RGBA */
.agriculture-1-rgba { color: rgba(191, 3, 19, 1); }
.agriculture-2-rgba { color: rgba(114, 2, 32, 1); }
.agriculture-3-rgba { color: rgba(54, 89, 1, 1); }
.agriculture-4-rgba { color: rgba(96, 140, 2, 1); }
.agriculture-5-rgba { color: rgba(242, 182, 4, 1); }

