body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  overflow-x: hidden;
  grid-template-areas:
                       'slide slide slide slide'
                       'header header header header'
                       'section section div div'
                       'aside aside aside aside'
                       'footer footer footer footer';
  grid-template-rows: 100vh 90vh 90vh 90vh 10vh;
  grid-template-columns: 25% 25% 25% 25% 25%;
  grid-row-gap: 0;
  background-color: white;
}
