{% extends 'layout.html' %}
{% load staticfiles %}

{% block content %}
<aside id="sobrePrincipal">
    <div class="explica">
        <h3>Como o InfoVeg funciona?</h3>
        <p>aSSSSSSIMMMMMMMM</p>
        <div class="bom">
            <div class="assim"></div>
            <div class="assim">
                <div class="saiba-mais">
                    <a>
                        <img src="/static/images/celular.png" alt="">
                    </a>
                </div>
                <div class="saiba-mais">
                    <a>
                        <img src="/static/images/computer.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</aside>
{% endblock %}