{% extends 'layout.html' %}
{% load staticfiles %}

{% block content %}
<aside id="sobrePrincipal">
    <div class="explica">
        <div id="tituloo">
            <h3>Como o InfoVeg funciona?</h3>
        </div>
        <div class="bom">
            <div class="assim" id="saude">
    
            </div>
            <div class="assim" id="exp">
            <p>InfoVeg tem como missão ajudar o não apenas o público vegano e vegetariano, como também as pessoas que querem aderir ao estilo de vida. Buscamos facilitar o seu dia a dia, apresentamos restaurantes, lojas e serviços para você.</p>
            <p>Comercios novos e já consolidados no mercado, podem contribuir com nossa missão de tornar a alimentação e escolhas de vida, acessível a todos.</p>
            </div>
        </div>
    </div>
</aside>
{% endblock %}