{% extends 'layout.html' %}
{% load staticfiles %}

{% block content %}
<aside id="sobrePrincipal">
    <div class="explica">
        <div id="tituloo">
            <h3>Como o InfoVeg funciona?</h3>
            <p></p>
        </div>
        <div class="bom">
            <div class="assim" id="saude">
    
            </div>
            <div class="assim" id="exp">
                <div class="saiba-mais">
                    <a>
                    <img class="imgc" src="/static/images/celular.png" alt="">
                    </a>
                    <p class="text">passo 111</p>
                </div>
                <div class="saiba-mais">
                    <a>
                    <img class="imgc" src="/static/images/computer.png" alt="">
                    </a>
                    <p class="text">passso2</p>
                </div>
                <div class="saiba-mais">
                    <a>
                    <img class="imgc" src="/static/images/explanation-step-1.png" alt="">
                    </a>
                </div>
                <div class="saiba-mais">
                    <a>
                    <img class="imgc" src="/static/images/explanation-step-2.png" alt="">
                    </a>
                </div>
                <div class="saiba-mais">
                    <a>
                    <img class="imgc" src="/static/images/explanation-step-3.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</aside>
{% endblock %}