{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/slide.css' %}">
    <link rel="stylesheet" href="{% static 'css/section.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/aside.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/footer.css' %}"> 
    <script defer type="text/javascript" src="/static/assets/javascript/h1pag.js"></script>
    <script defer type="text/javascript" src="/static/assets/javascript/navbar.js"></script>
    <script src="{% static 'app.js' %}"></script> 
    <script src="{% static 'H1.js' %}"></script> 
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>InfoVeg</title>
</head>

<body>
<!-- MENU NAVBAR -->

<nav class="navbar transition ">
    <div class="menu">
    <ul>
        <li>
            <div id="tamanho-logo">
            <p class="logo-nav">InfoVeg</p>
            </div>
        </li>
        <li>
            <div id="tamanho">
            <a href=""></a>
            </div>
        </li>
        <li>
            <div id="tamanho">
            <a href="como-funciona/">Como funciona</a>
            </div>
        </li>
        <li>
            <div id="tamanho">
            <a href="contato/">Contato</a>
            </div>
        </li>
        <li>
            <div id="tamanho">
            <a href="sobre-nos/">Sobre Nós</a>
            </div>
        </li>
        <li>
            <div id="tamanho">
            <a href="cadastro/">Inscrever-se</a>
            </div>
        </li>
        <li>
            <div id="tamanho">
            <a href="">Entrar</a>
            </div>
        </li>
    </ul>
    </div>  
    <div class="navbar-auxiliar"></div>
</nav>
<!-- FIM DO MENU NAVBAR -->


<!-- SLIDE -->
<section class="slide">
    <h1 id="frases"></h1>
</section>

<!-- INICIO DO HEADER -->
  
<header>
    <div class="q-serv">
    <div class="mini-serv">
        <div class="icon-loja">
            <div id="icons-header">
                <div class="img-loja">
                    <img class="foda" src="" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="mini-serv">
        <div class="icon-rest">
            <div id="icons-header">
                <div class="img-rest">
                    <img class="foda" src="" alt="">
                </div>
            </div>      
        </div>
    </div>
    <div class="mini-serv">
        <div class="icon-moto">
            <div id="icons-header">
                <div class="img-moto">
                    <img class="foda" src="" alt="">
                </div>
            </div>      
        </div>
    </div>
    <div class="mini-serv">
        <div class="icon-sust">
            <div id="icons-header">
                <div class="img-sust">
                    <img class="foda" src="" alt="">
                </div>
            </div>        
        </div>
    </div>
    </div>
</header>
<!-- FIM DO HEADER -->
<!-- INICIO DA SECTION -->
<section>
    <!-- <div class="sobre">
        <h3>Quem somos</h3>
        <p>Quando pensamos em nos tornarmos vegetarianos ou vegetarianas, o que nos vem à cabeça é aonde encontrarmos alimentos prontos ou ingredientes para nossas novas receitas. 
        Pensando nessas dificuldades resolvemos criar esse site no intento de conectar pessoas e varejistas do ramo, pois acreditamos na relevância da democracia na alimentação, na qual respeitamos todos os modos de vida dos indivíduos. Desta forma, estamos contribuindo para a disseminação do consumo consciente.</p>
        <p>Acreditamos que nos tornarmos veganos é um projeto de vida proeminente, no qual a sociedade como um todo pode contribuir, tendo em vista o grau de destruição dos recursos naturais por nós humanos. Necessitamos buscar meios de sobrevivência que visem ações de sustentabilidade se quisermos prologar os meios de vida aqui na terra.</p>
        <p>Esse  cyberespaço foi desenvolvido na intenção de facilitar a vida dos veganos na busca por serviços, produtos de supermercados,  restaurantes, enfim, na sua alimentação como um todo, pois observamos que pouco tem feito, visto a ausência de locais dessa natureza nos ambientes digitais.
        Catalogamos aqui restaurantes, supermercados, deliveries e serviços, que ofertam produtos para vegetarianos e veganos. Deixamos seu modo de vida mais facilitado em apenas alguns cliques.
        Entre, desfrute, fique à vontade!</p>
    </div> -->
</section>
<!-- FIM DA SECTION -->
<!-- INICIO DO ASIDE -->
<aside>
    <div id="cadastre">
        <h3> Cadastre seu negócio</h3>
        <p>Se você tem uma loja, restaurante, supermercado, deliveries ou presta serviço no ramo do veganismo e/ou vegetarianismo, cadastre seu negócio aqui no site.</p>
        <a href="cadastro/">
            <button class="cadastro"> Cadastre-se aqui</button>
        </a>
    </div>  
    <div class="quadrado">
        <a href=""><div id="foto1"></div></a>
        <a href=""><div id="foto2"></div></a>
        <a href=""><div id="foto3"></div></a>
        <a href=""><div id="foto4"></div></a>
        <a href=""><div id="foto5"></div></a>
        <a href=""><div id="foto6"></div></a>
        <a href=""><div id="foto7"></div></a>
    </div>
</aside>
<!-- FIM DO ASIDE -->
<!-- INICIO DO FOOTER -->

<footer>
    <div id="footerlinks">
        <h2>InfoVeg</h2>
        <div id="linksf">
            <a href="/notFound">Termos e Privacidade</a>
            <a href="/contato">Contato</a>
            <p id="copyright">© 2019 InfoVeg Ltda</p>
        </div>
        <div id="redesSociais">
            <div id="icons">
                <div class="image">
                    <a href="">
                        <img src="/static/images/facebookb.png" alt="">
                    </a>
                </div>
                <div class="image">
                    <a href="">
                        <img src="/static/images/linkedinb.png" alt="">
                    </a>
                </div>
                <div class="image">
                    <a href="">
                        <img src="/static/images/twitterb.png" alt="">
                    </a>
                </div>
                <div class="image">
                    <a href="">
                        <img src="/static/images/instagramb.png" alt="">
                    </a>
                </div>
            </div>
            <p>Redes Sociais</p>
        </div>
    </div>
 </footer>
 <!-- FIM DO FOOTER -->

</body>
</html>