{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/slide.css' %}">
    <link rel="stylesheet" href="{% static 'css/section.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/aside.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/footer.css' %}"> 
    <script defer type="text/javascript" src="/static/assets/javascript/h1pag.js"></script>
    <script src="{% static 'app.js' %}"></script> 
    <script src="{% static 'H1.js' %}"></script> 
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript">
            $(window).scroll(function(){
              if ($(window).scrollTop()) {
            $('.navbar').addClass('bg-dark testex');
            $('.navbar').removeClass('bg-primary teste');
              } else {
            $('.navbar').removeClass('bg-dark testex');
            $('.navbar').addClass('bg-primary teste');
              }
              if ($(window).scrollTop() > 100) {
            $('.navbar').removeClass('teste');
            } else {
            $('.navbar').addClass('teste');
              }
      });
    </script>
    <title>InfoVeg</title>
</head>

<body>
<!-- MENU NAVBAR -->

<nav class="navbar transition ">
    <div class="menu">
    <ul>
        <li>
            <div id="tamanho-logo">
            <p class="logo-nav">InfoVeg</p>
            </div>
        </li>
        <li>
            <div id="tamanho">
            <a href=""></a>
            </div>
        </li>
        <li>
            <div id="tamanho">
            <a href=""> Inscrever-se</a>
            </div>
        </li>
        <li>
            <div id="tamanho">
            <a href="">Contato</a>
            </div>
        </li>
        <li>
            <div id="tamanho">
            <a href="">Sobre nós</a>
            </div>
        </li>
        <li>
            <div id="tamanho">
            <a href="">Como funciona</a>
            </div>
        </li>
        <li>
            <div id="tamanho">
            <a href="">Entrar</a>
            </div>
        </li>
    </ul>
    </div>  
    <div class="navbar-auxiliar"></div>
</nav>
<!-- FIM DO MENU NAVBAR -->


<!-- SLIDE -->
<section class="slide">
    <h1 id="frases"></h1>
    <!-- <slider>
        <slide>
            <p></p>
        </slide>
        <slide>
            <p></p>
        </slide>
        <slide>
            <p></p>
        </slide>
        <slide>
            <p></p>
        </slide>
    </slider> -->
</section>

<!-- INICIO DO HEADER -->
  
<header>
    <div class="q-serv">
    <div class="mini-serv">
        <div class="icon-loja">
          <img src="{% static 'images/shop.png' %}" alt="">        
        </div>
    </div>
    <div class="mini-serv">
        <div class="icon-rest">
          <img src="{% static 'images/dish.png' %}" alt="">        
        </div>
    </div>
    <div class="mini-serv">
        <div class="icon-moto">
            <img src="{% static 'images/scooter.png' %}" alt="">        
        </div>
    </div>
    <div class="mini-serv">
            <div class="icon-sust">
                <img src="{% static 'images/scooter.png' %}" alt="">        
            </div>
    </div>
    </div>
</header>
<!-- FIM DO HEADER -->
<!-- INICIO DA SECTION -->
<section>
    <div class="sobre">
        <h3>SOBRE</h3>
        <p>Nós somos uma boutique audiovisual focada em criação, animação e design, e por isso, fazemos seu empreendimento brilhar! Claro, não esquecemos da usabilidade, lucratividade e muito amor em todos os nossos produtos e serviços.</p>
        <p>Nossa formação teve início em 1º de abril de 2016 e olha que isso não é uma mentira! Desde então nos reformulamos e passamos por algumas mudanças! Crescemos e hoje estamos aqui. Cada dia melhores e mais criativos que nunca, amamos nossos filmes, vídeos, animações, ilustrações e muito mais, porém só nós conseguimos fazer.</p>
        <p>Quer conhecer ainda mais? Vai rolando, ai!</p> 
    </div>
</section>
<!-- FIM DA SECTION -->
<!-- INICIO DO ASIDE -->
<aside>
    <h3> SAIBA MAIS</h3>
    <p> aksjdjhdd </p>
    
    <div class="quadrado">
        <div id="foto1"></div>
        <div id="foto2"></div>
        <div id="foto3"></div>
        <div id="foto4"></div>
        <div id="foto5"></div>
        <div id="foto6"></div>
        <div id="foto7"></div>
    </div>
</aside>
<!-- FIM DO ASIDE -->
<!-- INICIO DO FOOTER -->

<footer>
	<div clas="container">
		<div class="row">
			<div class="fot1">
				<img src="" alt="logo">
				<p class="foot1">
				O Infovegan busca melhorar o mundo, estamos preocupado em uma alimentação de qualidade para todos. Oferecemos serviços com foco no estilo de vida das pessoas. Acreditamos na transformação da tecnologia pode trazer ao planeta, consumo limpo e consciencia ambiental em qualquer lugar.
                </p>
                <p>© Copyright 2019. All Rights Reserved. NOME OFICIAL LTDA </p>
			</div>
			<div class="fot2">
				<ul>
                    <li>
                        <a> Projeto </a>
                    </li>
					<li>
						<a> Fale Conosco</a>
					</li>
					<li>
						<a> Parceiros</a>
                    </li>
                    <li>
                        <a> Corporativo</a>
                    </li>
                    <li>
                        <a> Localização</a>
                    </li>
				</ul>
			</div>
			<div class="footerm">
				<div class="icons-footer">
					<a href="">
                    <img class="social" src="{% static 'images/social/008-facebook.png' %}" alt="">
                    </a>
				</div>
				<div class="icons-footer">
					<a href="">
                    <img class="social" src="{% static 'images/social/002-twitter.png' %}" alt="">
                    </a> 
				</div>
				<div class="icons-footer">
					<a href="">
                    <img class="social" src="{% static 'images/social/011-instagram.png' %}" alt="">
                    </a>
                </div>
                <div class="icons-footer">
                    <a href="">
                    <img class="social" src="{% static 'images/social/001-youtube.png' %}" alt="">
                     </a>
                </div>    
                <div class="icons-footer">
                    <a href="">
                    <img class="social" src="{% static 'images/social/010-linkedin.png' %}" alt="">
                    </a>
                </div>    
			</div>
		</div>	
	</div>
 </footer>
 <!-- FIM DO FOOTER -->

</body>
</html>