{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/slide.css' %}">
    <link rel="stylesheet" href="{% static 'css/section.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/aside.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/footer.css' %}"> 
    <script src="{% static 'app.js' %}"></script> 
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript">
            $(window).scroll(function(){
              if ($(window).scrollTop()) {
            $('.navbar').addClass('bg-dark testex');
            $('.navbar').removeClass('bg-primary teste');
              } else {
            $('.navbar').removeClass('bg-dark testex');
            $('.navbar').addClass('bg-primary teste');
              }
              if ($(window).scrollTop() > 100) {
            $('.navbar').removeClass('teste');
            } else {
            $('.navbar').addClass('teste');
              }
      });
    </script>
    <title>InfoVeg</title>
</head>

<body>
<!-- MENU NAVBAR -->
<nav class="navbar transition ">
  <div class="menu">
  <ul>
    <li>
        <div id="tamanho-logo">
          <p class="logo-nav">InfoVeg</p>
        </div>
      </li>
      <li>
          <div id="tamanho">
            <a href=""></a>
          </div>
        </li>
        <li>
          <div id="tamanho">
            <a href=""> Inscrever-se</a>
          </div>
        </li>
        <li>
          <div id="tamanho">
            <a href="">Contato</a>
          </div>
        </li>
        <li>
          <div id="tamanho">
            <a href="">Sobre nós</a>
          </div>
        </li>
        <li>
          <div id="tamanho">
            <a href="">Como funciona</a>
          </div>
        </li>
        <li>
          <div id="tamanho">
            <a href="">Entrar</a>
          </div>
        </li>
      </ul>
    </div>  
    <div class="navbar-auxiliar"></div>
  </nav>
  <!-- FIM DO MENU NAVBAR -->
  <!-- SLIDE -->
  <section class="slide">
    <slide>
        <img src="{% static 'images/1.png' %}" alt="">
        <p>Slide1</p>
    </slide>
    <slide>
        <img src="{% static 'images/2.png' %}" alt="">
        <p>Slide2</p>
    </slide>
    <slide>
        <img src="{% static 'images/3.png' %}" alt="">
        <p>Slide3</p>
    </slide>
    <slide>
        <img src="{% static 'images/4.png' %}" alt="">
        <p>Slide4</p>
    </slide>
</section>

  <!-- INICIO DO HEADER -->
  
<header>
  <div class="q-serv">
    <div class="mini-serv">
        <div class="icon-loja">
          <img src="{% static 'images/shop.png' %}" alt="">        
        </div>
      </div>

      <div class="mini-serv">
        <div class="icon-rest">
          <img src="{% static 'images/dish.png' %}" alt="">        
        </div>
      </div>

       <div class="mini-serv">
        <div class="icon-moto">
            <img src="{% static 'images/scooter.png' %}" alt="">        
        </div>
       </div>
  </div>
</header>
<!-- FIM DO HEADER -->
<!-- INICIO DA SECTION -->
<section>

</section>
<!-- FIM DA SECTION -->
<!-- INICIO DO ASIDE -->
<aside>
	<div id="grid">
		<div class="box a">1</div>
		<div class="box b">2</div>
		<div class="box c">C</div>
		<div class="box d">D</div>
		<div class="box e">E</div>
		<div class="box f">F</div>
		<div class="box g">1</div>
		<div class="box h">2</div>
		<div class="box i">C</div>
		<div class="box j">D</div>
		<div class="box k">E</div>
		<div class="box l">F</div>
	</div>
</aside>
<!-- FIM DO ASIDE -->
<!-- INICIO DO FOOTER -->

<footer>
	<div clas="container">
		<div class="row">
			<div class="fot1">
				<img src="" alt="logo">
				<p class="foot1">
				O Infovegan busca melhorar o mundo, estamos preocupado em uma alimentação de qualidade para todos. Oferecemos serviços com foco no estilo de vida das pessoas. Acreditamos na transformação da tecnologia pode trazer ao planeta, consumo limpo e consciencia ambiental em qualquer lugar.
				</p>
			</div>

			<div class="fot2">
				<ul>
                    <li>
                        <a> Projeto </a>
                    </li>
					<li>
						<a> Fale Conosco</a>
					</li>
					<li>
						<a> Parceiros</a>
					</li>
				</ul>
			</div>

			<div class="footerm">
				<div class="icons-footer">
					<a href="">
                        <img class="social" src="{% static 'images/social/008-facebook.png' %}" alt="">
                    </a>
				</div>
				<div class="icons-footer">
					<a href="">
                        <img class="social" src="{% static 'images/social/002-twitter.png' %}" alt="">
                    </a> 
				</div>
				<div class="icons-footer">
					<a href="">
                        <img class="social" src="{% static 'images/social/011-instagram.png' %}" alt="">
                    </a>
                </div>
                <div class="icons-footer">
                    <a href="">
                        <img class="social" src="{% static 'images/social/001-youtube.png' %}" alt="">
                     </a>
                </div>    
                <div class="icons-footer">
                    <a href="">
                        <img class="social" src="{% static 'images/social/010-linkedin.png' %}" alt="">
                    </a>
                </div>    
			</div>
		</div>	
	</div>
</footer>
<!-- FIM DO FOOTER -->

</body>
</html>