{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<aside>
    <article id="filtro">
        <h2>Login</h2>
        <form action="/login/" method="POST">
            {% csrf_token %} 
            {{ form.as_p }}
            <button type="submit" value="Entrar" />Entrar
        </form>
        {% if msg != ' ' %}
            <p>{{ msg }}</p>
        {% endif %}
        <a id="none-t" href="/">
            <button id="voltar" type="submit" aria-label="entrar" href="/">Voltar</button>
        </a>
    </article>
</aside>
{%  endblock %}
