{% extends 'layoutservico.html' %}
{% load staticfiles %}

{% block content %}
<aside>
    <article>
        <div id="loja">
                {% for servico in servicos %}
            <div class="servico">
               <div>
                   <img id="img-serv" src="/{{servico.foto.url}}" alt="">
               </div>
                   <h2 id="nome-serv">{{servico.nome}}</h2>
                   <p id="rest-loja">{{servico.descricao}}</p>
                   <p>Trabalho: {{servico.trabalhos}}</p>
                </div>
                {% endfor %}
            </div>
    </article>
</aside>
{% endblock %}