{% extends 'index.html' %}
{% load staticfiles %}

{% block content %}
    <ul class="slider">
        <li>
            <input type="radio" id="slide1" name="slider" checked>
            <label for="slide1"></label>
            <img src="{% static 'images/1.png' %}" alt="">
        </li>
        <li>
            <input type="radio" id="slide2" name="slider" checked>
            <label for="slide2"></label>
            <img src="{% static 'images/2.png' %}" alt="">
        </li>
        <li>
            <input type="radio" id="slide3" name="slider" checked>
            <label for="slide3"></label>
            <img src="{% static 'images/3.png' %}" alt="">
        </li>
        <li>
            <input type="radio" id="slide4" name="slider" checked>
            <label for="slide4"></label>
            <img src="{% static 'images/4.png' %}" alt="">
        </li>    
    </ul>
{% endblock %}