{% extends 'layout.html' %}

{% block content %}
<aside id="sobrePrincipal">
<div class="item">
    <p>Quando pensamos em nos tornarmos vegetarianos ou vegetarianas, o que nos vem à cabeça é aonde encontrarmos alimentos prontos, produtos cujo não são de origem animal ou ingredientes para nossas novas receitas. 
        Pensando nessas dificuldades, resolvemos criar esse site no intento de conectar pessoas e varejistas do ramo. 
        Catalogamos aqui restaurantes, supermercados, deliveries e serviços, que ofertam produtos para vegetarianos e veganos. Deixamos seu modo de vida mais facilitado em apenas alguns cliques. Entre, desfrute, fique à vontade!</p>
</div>
<div class="item">
    <img src="/static/images/pessoas.jpg" alt="">
</div>
</aside>
{% endblock %}
