{% extends 'lsobrenos.html' %}

{% block content %}
<aside id="sobrePrincipal">
        <article id="filtro">
 <div class="time-aside">
     <h1>Nossa equipe</h1>
     <span class="borda"></span>
<div class="ps">
    <a href="#p1"><img src="/static/images/jeff.png" alt=""></a>
    <a href="#p2"><img src="/static/images/nan.png" alt=""></a>
    <a href="#p3"><img src="/static/images/ju.png" alt=""></a>
    <a href="#p4"><img src="/static/images/Deymes.png" alt=""></a>

</div>
    <div class="section" id="p1">
        <span class="Nome">Jefferson Brito</span>
        <span class="borda"></span>
        <p>
            eu so o Jefferson
            
        </p>
    </div>
    <div class="section" id="p2">
            <span class="Nome">Renan Azevedo</span>
            <span class="borda"></span>
            <p>
                Renan Azevedo,
                Apaixonado por tecnologia, buscando sempre conhecimento e inovação, persistente e focado quando é desafiado por um objetivo. Desenvolvedor Full-stack e desenvolvedor de front-end do Infoveg. 
            </p>
        </div>
        <div class="section" id="p3">
                <span class="Nome">Julia Lopes</span>
                <span class="borda"></span>
                <p>
                Julia Lopes,
                Graduanda em Biblioteconomia pela Universidade de São Paulo (USP). Pesquisadora em Inteligência Artificial pela Universidade de São Paulo (2019). Full-stack Web Developer Jr. pela Academia Mastertech (2019). 
                Desenvolveu projetos da graduação, sendo representante discente e participando de comissões para organização de eventos. 
                </p>
            </div>
            <div class="section" id="p4">
                    <span class="Nome">Deymes Rangel</span>
                    <span class="borda"></span>
                    <p>
                    Deymes Rangel,
                    Participante da Campus Party Brasil como campuseiro e participante também na 
                    IX Feira Baiana de Agricultura Familiar e Economia Solidária (FEBAFES) como o 
                    projeto divulgando e valorizando o artesanato de palmeira do Licurí da região
                    de Ibitiara-BA.
                    </p>
                </div>
</div>
</article>
</aside>
{% endblock %}
