{% extends 'layout.html' %}

{% block content %}
<aside id="sobrePrincipal">
    <div>
        <h4 class="titulo">Sobre nós</h4>
    </div>
    <div>
        <p>Quando pensamos em nos tornarmos vegetarianos ou vegetarianas, o que nos vem à cabeça é aonde encontrarmos alimentos prontos ou ingredientes para nossas novas receitas. 
            Pensando nessas dificuldades, resolvemos criar esse site no intento de conectar pessoas e varejistas do ramo, pois acreditamos na relevância da democracia na alimentação, na qual respeitamos todos os modos de vida dos indivíduos. 
            Desta forma, estamos contribuindo para a disseminação do consumo consciente. Consideramos que nos tornarmos veganos é um projeto de vida proeminente, no qual a sociedade como um todo pode contribuir, tendo em vista o grau de destruição dos recursos naturais por nós humanos. 
            Necessitamos buscar meios de sobrevivência que visem ações de sustentabilidade se quisermos prologar os meios de vida aqui na terra. Esse cyberespaço foi desenvolvido na intenção de facilitar a vida dos veganos na busca por serviços, produtos de supermercados, restaurantes, enfim, na sua alimentação como um todo, pois observamos que pouco tem feito, visto a ausência de locais dessa natureza nos ambientes digitais. Catalogamos aqui restaurantes, supermercados, deliveries e serviços, que ofertam produtos para vegetarianos e veganos. Deixamos seu modo de vida mais facilitado em apenas alguns cliques. Entre, desfrute, fique à vontade!</p>
        </div> 
    <div>
        <img id="imagem" src="/static/images/pessoas.jpg" alt="">
    </div>
</aside>
{% endblock %}
